<app-navbar></app-navbar>
    <!--main container start-->
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <div class="login100-form validate-form" >
    <!----------------------  Fill data  region     ------------------------------------>
    <span class="login100-form-title p-b-33">
        Books stock <br>
        </span>
            </div>
        </div>
    </div>
    
    
    <!--main container end-->
</div>




                   