<app-navbar></app-navbar>
    <!--main container start-->
    <div class="limiter">
        <div class="container-login100">
            <div class="ng2-wrap-login100 p-l-15 p-r-15 p-t-75 p-b-50">
                <h1>Hello</h1>
                <div style="display: inline-block;">
                    
                <mat-tab-group style='display: inline-block;'>
                        <mat-tab label="Table">
                            <h3 style='color: #803ed8;'>
                                Students<br>
                            </h3> 
    <!----------------------  Fill data  region     ------------------------------------>
                            <div style="float: right;">
                                <span style="color:#007bff;font-size: medium;font-weight: 600;">Record limit </span>
                                <select [(ngModel)]="selectedBanner" (change)="change_limit()">
                                    <option *ngFor="let banner of banners" 
                                    [ngValue]="banner">{{banner.name}}</option>
                
                                </select>
                            </div>
                            <ng2-smart-table  [settings]="settings" [source]="local"  
                                (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                                  (createConfirm)="onCreateConfirm($event)" >
                            </ng2-smart-table>
                            <button (click)="addRow()">
                                <h6 style="color: #007bff;">Add New</h6>
                            </button>
                        </mat-tab>

                        <mat-tab label="Graph">
                        </mat-tab>
                </mat-tab-group>
                </div>
        </div>
       
    </div>
    
    
    <!--main container end-->
</div>
                   