<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <div class="login100-form validate-form"  >
                <span class="login100-form-title p-b-33">
                Change Password<br>
                <img src="../../assets/log.png" alt="HTML5 Icon" style="width:68px;height:58px;border-radius: 110%;">
                </span>
                <!--         Logo                      -->
            <div >
              <label >Enter new Password</label>
          </div>
          <!-----------        Enter password      ------------>
          <div >
            <input type="password" id="user_password" minlength="6" maxlength="12" class="form-control" pattern="^(?=(.*[a-zA-Z].*){1,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]{6,15}$" name="user_password" placeholder="Enter Password"  [(ngModel)]="model.user_password" #user_password="ngModel" [ngClass]="{'is-invalid' : ((user_password.touched || user_password.dirty ) && user_password.invalid) ||(submited && !user_password.valid) }" required>
                <div *ngIf = "((user_password.touched || user_password.dirty ) && user_password.invalid)|| (submited && !user_password.valid) " class="error-msg">
                  <div *ngIf="user_password.errors.required" > Password is required </div>
                  <div *ngIf="user_password.errors.minlength" > Minimum length should be 6 </div>
                  <div *ngIf="user_password.errors.maxlength"> maximum length should be 12 </div>
                  <div *ngIf="user_password.errors.pattern"> Password contains must at least one alphabate,at least one special charcter,at least one digit...</div>
                </div>
          </div>
          <!-----------        Enter password Again      ------------>
          <div>
            <label >Confirm New Password</label>
          </div>
          <div>
          <input type="password" id="user_confirm_password" class="form-control"(input)="pass($event.target.value)"  minlength="6" maxlength="12"  pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" name="user_confirm_password"  placeholder="Confirm Password"  
          [(ngModel)]="model.user_confirm_password" #user_confirm_password = "ngModel" 
          [ngClass]="{'is-invalid' : (user_confirm_password.touched && user_confirm_password.invalid && flag)}" required>
             <div *ngIf="(user_confirm_password.touched && !user_confirm_password.valid) ">
                            <div style="color: red;" *ngIf="flag">
                                {{flag}}
                                Password Mistmatch
                            </div>
                     <div *ngIf="user_confirm_password.errors.required" style="color: red"> confirm password required </div>
            </div>
        </div><br><br>
          <!------------------------ Submit  ---------------------->
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" >Sumit</button>&nbsp;
        <!------------------------  Cancel ------------------------------------->
        <button style="float:right;" (click)="cancel()" class="btn btn-primary">Cancel</button><br><br>
  </div>
  </div>
  </div>
  </div>
  